{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href={% static 'css/style.css' %}>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <div class="header">
                <div class="navigate">
                    ToDo
                    {% block navigate %}{% endblock %}
                </div>
            </div>
        </header>
        {% if user.is_authenticated %}
        <main>
            <div class="contents">
                {% block contents %}{% endblock %}
            </div>
        </main>
        {% else %}
        <main>
            <div class="contents">
                <h1>ログインしてください</h1>
                <a href="">Topに戻る</a>
            </div>
        </main>
        {% endif %}
    </body>
</html>