{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>スタート</title>
        <!-- static -->
        <link rel="stylesheet" href={% static 'css/style.css' %}>
    </head>
    <body>
        <header>
            <div>
                <p>ToDo</p>
            </div>
        </header>
        <main>
            <div class="contents">
                <div class="introduce-app">
                    自分のToDoリストを作成しましょう。
                </div>
                <div class="links">
                    <a href="">登録</a>
                    <a href="">ログイン</a>
                </div>
            </div>
        </main>
    </body>
</html>